.outer_div {
  margin-top: 3rem;
}

.inner_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font: var(--font-label);
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
