.no_exist {
  font-size: 67;
  font-weight: bold;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  background-color: #ffc107;
  color: black; /* Text color for contrast */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  /* Add a hover effect for better user experience */
  transition: background-color 0.2s;
}
